body{
    background-color: rgb(246, 247, 255);
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}

#container{
    border-radius: 8px;
    background-color: white;
    padding: 40px;
    width: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    /* align-items: center; */
    box-shadow: 0 0 8px rgb(140, 140, 140);
    /* margin: 0 auto; */
    gap: 10px
}

h3{
    font-size: 25px;
    align-items: center;
}

#overlap_btn{
    background-color: black;
    border-radius: 4px;
    color: white;   
}

.box{
    /* margin: 5px; */
    box-sizing: border-box;
    /* border: 1px solid; */
    /* width: 250px; */
    display: flex;
    flex-direction: column;
}
.boxin{
    display: grid;                
  grid-template-columns: 1fr auto;
  gap: 8px;
}

p{
    font-size: small;
}
#join{
    background-color: rgb(0, 102, 255);
    border: 0;
    border-radius: 4px;
    color: white;
    padding: 10px;
}

input{
    font-size: 14px;
    border: 1px solid silver;
    border-radius: 4px;
    padding: 8px 10px;
    box-sizing: border-box;
    outline: none;    
}
label{
    font-weight: 700;
}


.boxid{
    display: flex;
    flex-direction: column;
    
}
#plz{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */


}
.msg {
        margin: 0;
}