body{
    margin : 20px;
    background-color: #f4f4f4;
}

.container{
    max-width: 900px;
    margin : 0 auto;
    padding : 20px;
    background-color: white;
    border-radius : 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1{
    color : #333;
    border-bottom : 2px solid #eee;
    padding-bottom : 10px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top : 20px;
}

th, td{
    border : 1px solid #ddd;
    padding : 10px;
    text-align : center;
    font-size : 14px;
}

th{
    background-color: #007bff;
    color: white;
}

/* 폼 스타일 */
.add-form-section{
    margin-bottom : 20px;
    padding : 15px;
    border : 1px solid #ccc;
    border-radius: 8px;
    background-color: #e9ecef;
}

h3{
    text-align: center;
}

#addItemForm{
    display:flex;
    justify-content: center;
}

.add-form-section input{
    padding : 8px;
    margin-right : 10px;
    border : 1px solid #ccc;
    border-radius: 3px;
}

.btn-register{
    padding : 8px 15px;
    background-color: #28a745;
    color : white;
    border : none;
    cursor : pointer;
    border-radius: 3px;
}

/* 버튼에 마우스 올리면 
색을 #1e7e34로 변경하기 */
.btn-register:hover{
    background-color: #1e7e34;
}

/* 상태 메시지 */
#message{
    margin-top : 10px;
    font-weight : bold;
}
#order-messages{
    color: #28a745;
}
.orders{
    display: flex; 
    justify-content: 
    center;padding: 30px;
}